@import url('style.css');

fieldset{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccd595;
}

fieldset label{
    display: block;
    padding: 10px;
}

legend{
    color:black;
    padding: 0 5px;
}

textarea{
   background-color: transparent;
   border-radius: 5px;
   border: 2px solid #ccd595;
   outline: none;
}

textarea::placeholder{
    color: #cbbba7;
    padding-left: 5px;
    padding-top: 5pxbo;
}

input::placeholder{
    color: #cbbba7;

}

button{
    background-color: #ccd595;
    color: #331f19;
    padding: 15px;
    border: none;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
    border: 2px solid #331f19;
}